.task-view {
  max-width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(0, 0, 0);
  border-radius: 25px;
  padding: 5px 15px;
  gap: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.lab {
  display: none;
}
.task-view input {
  margin: 5px 0;
  width: 43vw;
    background-color: rgba(142, 138, 138, 0.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  border-radius: 25px;
  
  height: 5vh;
  padding: 5px 15px;
}
.task-view button {
  cursor: pointer;
  background-color: rgba(0, 246, 4, 0.6);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  border-radius: 25px;
  height: 5vh;
  padding: 5px 10px;
}
.task-view label {
  height: 25px;
  width: 25px;
  background-color: white;
  border: 2px solid black;
  transition: 1s;
}
.task-view input:checked + label {
  background-image: url("/images/done.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.task-view label:hover {
  cursor: pointer;
  scale: 1.1;
}
img {
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: 1s;
}
img:hover {
  scale: 1.1;
}
.task-view p {
  text-align: left;
  width: 50vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.task-view span {
  display: block;

  font-size: 10px;
  text-align: center;
}
.task-done {
  background-color: rgba(14, 163, 0, 0.8);
}
.task-done p {
  text-decoration: line-through;
}

.task-undone {
  background-color: rgba(255, 238, 0, 0.5);
}

@media (max-width: 700px) {
  .to-do-app {
  }
  .task-view {
    flex-direction: column;
    padding: 15px 5px;
  }
  .task-view label {
    height: 20px;
    width: 20px;
  }
}
