@use '../../common' as *;
main{
  display: flex;
  justify-content: center;
  padding: 50px;
  background-image: url('../../images/board.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 375px;
  min-height: 100dvh;
}


@include breakPoint(tablet){
  main{
  padding: 10px;
  }
}